* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

#clock {
    display: block; 
    margin: 40px auto 0 auto; 
    font-size: 48px;
    font-family: monospace;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}

#date {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    margin: 15px auto 0 auto;
    width: fit-content;
}

#toggleFormat {
    color: aliceblue;
    background-color: transparent;
    border: 1px solid white;
    font-size: 15px;
    font-family: monospace;
    margin: 30px auto 0 auto; 
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}
#toggleFormat:hover {
    color: rgb(225, 223, 223);
    background-color: #0086fc;
    border: 1px solid #0086fc;
    transition: all 0.3s ease-in-out;
}