/* style.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  position: relative;
  max-width: 800px;
  margin-top: 50px;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  color: white;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots {
  margin-top: 15px;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #717171;
}
